@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .container-custom {
    @apply sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1220px] 2xl:max-w-[1340px] 3xl:max-w-[1520px] mx-auto px-5;
  }
  .custon-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-[#FFC20F]
  }

  

}







/* @theme { */
  /* font family */
  /* --font-poppins: "Poppins", serif;
    --font-obviously: "Obviously_Semi"; */

  /* color */
  /* --color-black: #000000;
    --color-white: #FFFFFF; */

  /* breakpoints  */
  /* --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;
}
@layer components {
  .container-custom {
    @apply sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px] 2xl:max-w-[1340px] 3xl:max-w-[1520px] mx-auto px-5;
  }
} */