@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .container-custom {
    @apply sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1220px] 2xl:max-w-[1340px] 3xl:max-w-[1520px] mx-auto px-5;
  }
  .custon-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-[#FFC20F]
  }
   .custon-swiperTeam .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-[#4F7100]
  }


  

}
body {
  font-family: 'Poppins', sans-serif;
}



/* Typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: #FFC20F; }
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #FFC20F; /* caret color */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}








/* @theme { */
  /* font family */
  /* --font-poppins: "Poppins", serif;
    --font-obviously: "Obviously_Semi"; */

  /* color */
  /* --color-black: #000000;
    --color-white: #FFFFFF; */

  /* breakpoints  */
  /* --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;
}
@layer components {
  .container-custom {
    @apply sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1120px] 2xl:max-w-[1340px] 3xl:max-w-[1520px] mx-auto px-5;
  }
} */